html {
  background-color: #ffbea7;
}

/* FFBEA7 */

/* font-family: 'Oswald', sans-serif; */

h1 {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: darkorange;
  border: 5px solid orange;
}

.info {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: darkorange;
}


.buttons {
  display: flex;
  align-items: center;
  justify-content: center
}

button {
  max-height: 300px;
  max-width: 300px;
  border: 0;
  padding: 0;
}

img {
  max-height: 300px;
  max-width: 300px;
}

footer {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: darkorange;
}